.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

.table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.table tbody tr:hover {
  background: #e0e0e0;
}

.actions {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}